* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    box-shadow: 0px 4px 4px #00000037;
    border-radius: 6px;
    padding: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 29px;


& img {
    margin: auto;
    width: 100%;
}

& .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {

        & h1 {
            font-size: 24px;
            margin-bottom: 6px;
        }

        & p {
            color: #AEAEAE;
        }
    }
    & #poison {
        background: #D3D3D3;
        padding: 6px 16px;
        border-radius: 100px;
    }

  }


}
  & #btn {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 30px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 6px;
    cursor: pointer;
  }

  & #btn:hover {
    background-color: #efefef;
  }